<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title></title>
        <meta name="description" content="Results of Intel&#39;s Graphics CI systems">
        <link rel="stylesheet" href="/assets/detailed.css" type="text/css">
        <link rel="stylesheet" href="/assets/generic.css" type="text/css">
        <link rel="stylesheet" href="/assets/results.css" type="text/css">
        <link rel="shortcut icon" href="/assets/favicon.gif" />
        <script type="text/javascript" src="/assets/vis.js"></script>
        <script type="text/javascript" src="/assets/pako_inflate.min.js"></script>
    </head>
    <body>
        <%= render '/topnav.*' %>
        <div id="content-container">
            <div id="legend" class="legend">
                <table><tr>
                        <td class="fail">FAIL</td>
                        <td class="warn">WARN</td>
                        <td class="pass">PASS</td>
                        <td class="skip">SKIP</td>
                        <td class="timeout">TIMEOUT</td>
                        <td class="notrun">NOT RUN</td>
                        <td class="incomplete">INCOMPLETE</td>
                        <td class="abort">ABORT</td>
                        <td class="crash">CRASH</td>
                    </tr></table>
            </div>

            <% if @item[:pre_merge] %>
                <b>Patchwork:</b> <a href="" id="patchwork-url">Not Available</a>
                <script type="text/javascript">
                    var xhttp = new XMLHttpRequest();
                    xhttp.onreadystatechange = function() {
                        if (this.readyState == 4 && this.status == 200) {
                            var a = document.querySelector("#patchwork-url");
                            a.innerText = this.responseText;
							var pw_url = "https://patchwork.freedesktop.org/series/";
							pw_url += this.responseText.replace("v","/#rev");
                            a.href = pw_url;
                        }
                    };
                    xhttp.open("GET", "patchwork-series.txt", true);
                    xhttp.send();

                </script>
            <% end %>

            <script type="text/javascript">
                // for drawResult calls below
                var depth = <%= @item[:pre_merge] ? 1 : 0 %>;
                document.getElementById("filtertext").value = "";

                var filters = ["testfilter", "hosts", "builds"];
                var url = new URL(location);

                for (var c = 0; c < filters.length; c++) {
                    var param = url.searchParams.get(filters[c]);
                    if (param == null)
                        continue;

                    if ( c > 0 )
                        document.getElementById("filtertext").value += filters[c] + "=";

                    document.getElementById("filtertext").value += decodeURI(param) + " ";
                }

                // grab ctrl+f for this page.
                window.addEventListener("keydown",function(event) {
                    if (event.keyCode === 114 || ((event.metaKey || event.ctrlKey) && event.keyCode === 70)) {
                        event.preventDefault();

                        var blinked = document.getElementById("filtertext");
                        if (blinked.disabled === true)
                            return;

                        var bg = [window.getComputedStyle(blinked,null).getPropertyValue("background-color")];
                        bg.push("LightGreen");
                        blinked.focus();
                        var blinker = 1;

                        const blinkintervalid = setInterval(() => {
                            blinked.style.cssText +=  "background: " + bg[blinker&1];
                            if (blinker++ > 5) {
                                blinked.background = null;
                                clearInterval(blinkintervalid);
                            }
                        }, 500);
                    }
                });
            </script>

            <% if ['combined', 'combined alt'].include? @item[:current_tree_view_type] %>
                <h2><%= @item[:tree] %> fast-feedback</h2>
                <span class="grid-comment" title="Results that would be all green are hidden from this view, if you are looking for them check one of the 'all' views." >(shows only test that do not pass)</span>
                <div id="spinner-fast-feedback" class="spinner"><table cellpadding="2"><tr><td><div class="sq" style="background-color: #ff9020;"></div></td>
                            <td><div class="sq" style="background-color: #30ff30; animation-delay: 0.4s;"></div></td></tr>
                        <tr><td><div class="sq" style="background-color: #ff3030; animation-delay: 1.2s;"></div></td>
                            <td><div class="sq" style="background-color: #20e820; animation-delay: 0.8s;"></div></td></tr></table></div>
                <div id="fast-feedback"></div>

                <div height="50px" style="height:50px;"></div>

                <h2><%= @item[:tree] %> shard-set</h2>
                <span class="grid-comment" title="Results that would be all green are hidden from this view, if you are looking for them check one of the 'all' views." >(shows only test that do not pass)</span>
                <div id="spinner-shards" class="spinner"><table cellpadding="2"><tr><td><div class="sq" style="background-color: #ff9020;"></div></td>
                            <td><div class="sq" style="background-color: #30ff30; animation-delay: 0.4s;"></div></td></tr>
                        <tr><td><div class="sq" style="background-color: #ff3030; animation-delay: 1.2s;"></div></td>
                            <td><div class="sq" style="background-color: #20e820; animation-delay: 0.8s;"></div></td></tr></table></div>
                <div id="shards"></div>

                <% if @item[:current_tree_view_type] == 'combined' %>
                    <script type="text/javascript">
                        drawResults("bat.json.gz", "fast-feedback", "spinner-fast-feedback", false, depth);
                        drawResults("shards.json.gz", "shards", "spinner-shards", false, depth);
                    </script>
                <% else %>
                    <script type="text/javascript">
                        drawResults("bat.json.gz", "fast-feedback", "spinner-fast-feedback", true, depth);
                        drawResults("shards.json.gz", "shards", "spinner-shards", true, depth);
                    </script>
                <% end %>
            <% elsif @item[:current_tree_view_type] == 'BAT all' %>
                <h2><%= @item[:tree] %> fast-feedback all</h2>
                <div id="spinner-fast-feedback" class="spinner"><table cellpadding="2"><tr><td><div class="sq" style="background-color: #ff9020;"></div></td>
                            <td><div class="sq" style="background-color: #30ff30; animation-delay: 0.4s;"></div></td></tr>
                        <tr><td><div class="sq" style="background-color: #ff3030; animation-delay: 1.2s;"></div></td>
                            <td><div class="sq" style="background-color: #20e820; animation-delay: 0.8s;"></div></td></tr></table></div>
                <div id="fast-feedback"></div>
                <script type="text/javascript">
                    drawResults("bat-all.json.gz", "fast-feedback", "spinner-fast-feedback", false, depth);
                </script>
            <% elsif @item[:current_tree_view_type] == 'shards all' %>
                <h2><%= @item[:tree] %> shard-set all</h2>
                <div id="spinner-shards" class="spinner"><table cellpadding="2"><tr><td><div class="sq" style="background-color: #ff9020;"></div></td>
                            <td><div class="sq" style="background-color: #30ff30; animation-delay: 0.4s;"></div></td></tr>
                        <tr><td><div class="sq" style="background-color: #ff3030; animation-delay: 1.2s;"></div></td>
                            <td><div class="sq" style="background-color: #20e820; animation-delay: 0.8s;"></div></td></tr></table></div>
                <div id="shards"></div>

                <script type="text/javascript">
                    drawResults("shards-all.json.gz", "shards", "spinner-shards", false, depth);
                </script>
            <% else %>
                <% raise "Unknown view type \"#{@item[:current_tree_view_type]}\"!" %>
            <% end %>
        </div>
    </body>
</html>

